<div class="card-content cyan lighten-1 white-text z-depth-3">
  <h2 class="post-detail-head"><%= @post.post_title %></h2>
</div>

<div class="card-content cyan lighten-1 white-text z-depth-3">
  <p><%= image_tag @post.image.url %></p>
  <p><%= @post.post_body %></p>
<!--If admin, below is visible -->
  <p><%= link_to "Edit post", edit_post_path(@post) %></p>
  <p><%= link_to "Return to posts", posts_path %></p>
  <p><%= button_to "Delete post", {:controller => :posts, :action => 'destroy', :id => @post.id }, :method => :delete %></p>
</div>

<div class="card-content cyan lighten-1 white-text z-depth-3">
<% if @post.comments.any? %>
  <h4>Comments</h4>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <p><%= comment.comment_body %></p>
        <%=link_to "Edit comment", edit_post_comment_path(@post, comment) %>
        |
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments - help improve our site by adding one!</p>
<% end %>
<p><%= link_to "Add new comment", new_post_comment_path(@post) %></p>
</div>
